@font-face {
    font-family: 'Quicksand';
    src: url('./assets/Quicksand-Regular.otf') format('woff2');
  }
  
  body {
    background-color: #171717;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 400;
  }
  